.App {
  text-align: center;
}

.nav-bar {
  background: rgb(121, 121, 121);
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 50px;
}

.nav-links > * {
  padding: 5px;
}
